@import '../../../../scss/utils/abstracts';
.mainContainer {
    height: auto;
    width: 100%;
    box-sizing: border-box;
    @include flexBox(column, center, center);
    &__buttonWrapper {
        @include flexBox(row, center, center);
        width: 100%;
        max-width: 380px;
        justify-content: space-evenly;
    }
}